.concept-button.disabled {
    background-color: grey;
    color: white;
    cursor: not-allowed;
}
.concept-button.disabled:hover {
    background-color: grey;
}
.concept-button {
    padding: 1rem;
    font-size: 1.1rem;
    font-family: 'Orbitron', sans-serif;
    background-color: #f19443;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex: 1 1 calc(25% - 20px);
    max-width: 200px;
    box-sizing: border-box;
    margin: 10px;
}

.concept-button.selected {
    background-color: #00cccc;
    color: #000;
}

.concept-button:hover {
    background-color: #ff9f00;
}

#concept-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}

#concept-buttons + button {
    background-color: #28a745;
    font-size: 1.2rem;
    padding: 0.8rem 2rem;
    border-radius: 10px;
    color: white;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    font-family: 'Orbitron', sans-serif;
}

#concept-buttons + button:hover {
    background-color: #218838;
    transform: scale(1.05);
}
footer{
 display: none;
} 
